.flex-container {
  display: flex;
}

.box {
  margin-left: 1rem;
  margin-right: 2rem;
  
}

h1 {
  text-align: left;
  margin: 0;
  padding: 0.5rem 0.5rem 0.5rem 0;
}

table {
  /* Changes the inherent properties of table cells for desired formatting*/
  border-spacing: 0px;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid grey;
  text-align: center;
}

th {
  padding: 4px;
}

#example {
  margin-top: 1rem;
}

#pgnTextArea {
  width: 25rem;
  height: 368px;
}

#div100 {
  height: 650px;
  width: 1250px;
  border: 1px solid #ccc;
  overflow: auto;
}

#header-wrapper {
  position: relative;
  height: 40px;
  z-index: 1;
}

#table-label {
  margin-top: 2rem;
  padding-bottom: 1rem;
}

#tbl100 {
  width: 100%;
  table-layout: fixed;
}

#tbl100 th,
#tbl100 td {
  height: 20px;
  border: 1px solid grey;
  font-size: 14px;
}

.supsub {
  display: inline-block;
}

.supsub sup,
.supsub sub {
  position: relative;
  display: block;
  font-size: 10px;
  line-height: 1.2;
  z-index: -1
}

thead {
  background-color: lightgrey;
  position: sticky;
  top: 0;
}

thead tr {
    background-color: lightgrey;
}

tbody {
  margin-top: 100px;
}

.supsub sub {
  top: -1px;
}

#FEN {
  text-align: left;
}



.listbox-area {
  height: 350px;
  width: fit-content;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(2, 1fr);
  padding: 20px;
  border: 1px solid #aaa;
  border-radius: 4px;
  background: #eee;
}

[role="listbox"] {
  width: 400px;
  margin: 1em 0 0;
  padding: 0;
  min-height: 100px;
  border: 1px solid #aaa;
  background: white;
}

[role="listbox"]#ss_elem_list {
  position: relative;
  max-height: 18em;
  overflow-y: auto;
}

[role="listbox"] + *,
.listbox-label + * {
  margin-top: 1em;
}

[role="group"] {
  margin: 0;
  padding: 0;
}

[role="group"] > [role="presentation"] {
  display: block;
  margin: 0;
  padding: 0 0.5em;
  font-weight: bold;
  line-height: 2;
  background-color: #ccc;
}

[role="option"] {
  position: relative;
  display: block;
  padding: 0 1em 0 1.5em;
  line-height: 1.8em;
}

[role="option"].focused {
  background: #bde4ff;
}

[role="option"][aria-selected="true"]::before {
  position: absolute;
  left: 0.5em;
  content: "✓";
}

button[aria-haspopup="listbox"] {
  position: relative;
  padding: 5px 10px;
  width: 150px;
  border-radius: 0;
  text-align: left;
}

button[aria-haspopup="listbox"]::after {
  position: absolute;
  right: 5px;
  top: 10px;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-top-color: currentcolor;
  border-bottom: 0;
  content: "";
}

button[aria-haspopup="listbox"][aria-expanded="true"]::after {
  position: absolute;
  right: 5px;
  top: 10px;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-top: 0;
  border-bottom-color: currentcolor;
  content: "";
}

button[aria-haspopup="listbox"] + [role="listbox"] {
  position: absolute;
  margin: 0;
  width: 9.5em;
  max-height: 10em;
  border-top: 0;
  overflow-y: auto;
}

[role="toolbar"] {
  display: flex;
}

[role="toolbar"] > * {
  border: 1px solid #aaa;
  background: #ccc;
}

[role="toolbar"] > [aria-disabled="false"]:focus {
  background-color: #eee;
}

button {
  font-size: inherit;
}

button[aria-disabled="true"] {
  opacity: 0.5;
}

.move-right-btn::after {
  content: " →";
}

.move-left-btn::before {
  content: "← ";
}

.annotate {
  color: #366ed4;
  font-style: italic;
}

.hidden {
  display: none;
}

.offscreen {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  font-size: 14px;
  white-space: nowrap;
}
