.flex-container {
  display: flex;
}

.box {
  margin-left: 1rem;
  margin-right: 2rem;
}

h1 {
  text-align: left;
  margin: 0;
  padding: 0.5rem 0.5rem 0.5rem 0;
}

table {
  /* Changes the inherent properties of table cells for desired formatting*/
  border-spacing: 0px;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid grey;
  text-align: center;
}

th {
  padding: 4px;
}

#example {
  margin-top: 1rem;
}

#pgnTextArea {
  width: 25rem;
  height: 95%;
}

#div100 {
  height: 650px;
  width: 1250px;
  border: 1px solid #ccc;
  overflow: auto;
}

#header-wrapper {
  position: relative;
  height: 40px;
  z-index: 1;
}

#table-label {
  margin-top: 2rem;
  padding-bottom: 1rem;
}

#tbl100 {
  width: 100%;
  table-layout: fixed;
}

#tbl100 th,
#tbl100 td {
  height: 20px;
  border: 1px solid grey;
  font-size: 14px;
}

.supsub {
  display: inline-block;
}

.supsub sup,
.supsub sub {
  position: relative;
  display: block;
  font-size: 10px;
  line-height: 1.2;
  z-index: -1
}

thead {
  background-color: lightgrey;
  position: sticky;
  top: 0;
}

thead tr {
    background-color: lightgrey;
}

tbody {
  margin-top: 100px;
}

.supsub sub {
  top: -1px;
}

#FEN {
  text-align: left;
}