.flex-container {
  height: 230px;
  display: flex;
}

.box {
  margin-left: 1rem;
  margin-right: 2rem;
  
}

h1 {
  text-align: left;
  margin: 0;
  padding: 0.5rem 0.5rem 0.5rem 0;
  margin: 0px 0px 15px 15px;
}

table {
  /* Changes the inherent properties of table cells for desired formatting*/
  border-spacing: 0px;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid grey;
  text-align: center;
}

th {
  padding: 4px;
}

#example {
  margin-top: 1rem;
}

#pgnTextArea {
  width: 25rem;
  height: 200px;
}

#div100 {
  height: 300px;
  width: 1345px;
  border: 1px solid #ccc;
  overflow: auto;
}

#header-wrapper {
  position: relative;
  height: 40px;
  z-index: 1;
}

#table-label {
  margin-top: 2rem;
  padding-bottom: 1rem;
}

#tbl100 {
  width: 100%;
  table-layout: fixed;
}

#tbl100 th,
#tbl100 td {
  height: 20px;
  border: 1px solid grey;
  font-size: 14px;
}

#xx-cell {
  width: 23px;
}

.supsub {
  display: inline-block;
}

.supsub sup,
.supsub sub {
  position: relative;
  display: block;
  font-size: 10px;
  line-height: 1.2;
  z-index: 0
}

thead {
  background-color: lightgrey;
  position: sticky;
  top: 0;
  z-index: 1;
}


tbody {
  margin-top: 100px;
}

.supsub sub {
  top: -1px;
}

#FEN {
  text-align: left;
}

/* Styles to color the listbox-area grey */
.listbox-area {
  height: inherit;
  background-color: #f1f1f1;
  padding: 10px;
  width: 500px;
}

/* Styles for the scrollable container */
.listbox-container {
  height: 200px;
  overflow-y: auto; /* Enable vertical scrolling */
  border: 1px solid #ccc; /* Add a border for the container */
  background: white;
  margin: 10px 5px 5px 5px;
}

/* Styles for the list items */
ul  {
  padding-inline-start: 5px;
  padding-right: 5px;
}
#pgn-list li {
  cursor: pointer;
  padding: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Styles for the selected list item */
#pgn-list li.selected {
  background-color: #c0c0c0; /* Change the background color when selected */
}

/* Styles to indicate the hover state */
#pgn-list li:hover {
  background-color: #e5e5e5; /* Change the background color on hover */
}

li:hover .custom-tooltip {
  visibility: visible;
  top: -30px; /* Adjust this value to position the tooltip above the <li> element */
  left: 50%;
  transform: translateX(-50%);
}

.custom-tooltip {
  visibility: hidden;
  position: absolute;
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 4px;
  z-index: 1;
}

#copyAlert {
  color:red;
}

#JSONTextArea {
  height: 225px;
  width: 400px;
}

.move-to {
  background-color:  #66a3cc ;
}

.move-from {
  background-color: lightcoral;
}